-# - if user_signed_in?

%div#background
  %header.cf
    %div.wrapper_wide
      = link_to "Impage", root_path, id: "logo"
      %nav
        %ul
          %li
            = link_to "Explore", posts_path
          %li
            = link_to "Log In",  new_user_session_path
          %li
            = link_to "Sign Up", new_user_registration_path

  %div.wrapper_skinny
    %div.content
      %h1 Sharing your image for the world!

      = link_to "Join", new_user_registration_path, class: "button button_highlight"
      %a.button.button_white(href="#") Explore

    %footer
      %p ©2015 Impage. All Rights Reserved.
