%div.new_post_form
  = simple_form_for @post do |f|
    %div.field
      %div.upload
        = f.file_field :image
      = f.input :title, label: "Name"
      = f.input :tag_list, label: "Tags", placeholder: " Separated by space "
      = f.input :description
    %div.actions
      = f.button :submit, class: "button button_highlight"
