%header.cf
  %div.bar_line
  %div.wrapper_wide
    %div.header-logo
      = link_to "Impage", root_path, id: "logo"

    %nav
      %ul
        - if user_signed_in?
          %li
            = link_to "Explore", posts_path, class: "#{'select' if params[:controller] == 'posts' && params[:action] == 'index'}"
          %li
            = link_to "Show Room", root_path
          %li
            = link_to "Upload", new_post_path
          %li
            = link_to "#{current_user.name.capitalize}", edit_user_registration_path
          %li
            = link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure" }
        - else
          %li
            = link_to "Explore", posts_path
          %li
            = link_to "Log In", new_user_session_path
          %li
            = link_to "Sign Up", new_user_registration_path
