- @posts.each do |post|
  %div.card
    %div.card_image
      = image_tag post.image.url(:medium)
      %p= link_to post.title, post_path(post)
    %div.card_detail
      %div.description
        Description :
        %p= post.description
      %div.user
        By :
        %p= post.user.email
      %p= "Like: #{post.get_likes.size}"
      %p= "Dislike #{post.get_dislikes.size}"

-if user_signed_in?
  %div.index_new_post
    = button_to "New Post", new_post_path, class: "btn"
