- if @posts.empty?
  - if user_signed_in?
    %div.no_post No post now = =, come on, let's share !!!
  - else
    %div.hero
      %div.cover
      = image_tag("/img/star_sky.jpg")
      %div.welcome
        %span Sharing your image !
        %span No account?
        %span= link_to "sign up", new_user_registration_path
        %span !!!



- @posts.each do |post|
  %div.card
    %div.card_image
      = image_tag post.image.url(:medium)
      %p= link_to post.title, post_path(post)
    %div.card_detail
      %div.description
        Description :
        %p= post.description
      %div.user
        By :
        %p= post.user.email
      %p= "Like : #{post.get_likes.size}"
      %p= "Dislike : #{post.get_dislikes.size}"

      %p Tags :
      - post.tag_list.each do |tag|
        = link_to "#{tag}", root_path(tag: tag), class: "btn"
%div.page
  = will_paginate @posts

-if user_signed_in?
  %div.index_new_post
    = link_to "New Post", new_post_path, class: "btn"
-else
  %div.nothing
