-# - if @posts.empty?
-#   - if user_signed_in?
-#     %div.no_post No post now = =, come on, let's share !!!
-#   - else
-#     %div.hero
-#       %div.cover
-#       = image_tag("/img/star_sky.jpg")
-#       %div.welcome
-#         %span Sharing your image !
-#         %span No account?
-#         %span= link_to "sign up", new_user_registration_path
-#         %span !!!


%div.divide

- if @posts.empty?
  %h3.no_post No post now, come on, let's share !!!


- @posts.each do |post|
  %div.card
    %div.card_image
      = link_to post_path(post) do
        = image_tag post.image.url(:medium)
    %div.card_detail
      %div.description
        %span.title= link_to post.title, post_path(post)
        \-
        %span.desc= post.description
      %div.user
        By :
        %span= link_to "#{post.user.name.capitalize}", user_path(post.user_id)

      - if (!current_user.nil?) && (current_user.liked? post)
        = link_to dislike_post_path(post) do
          %span.icon.icon-heart
          %span.size= post.get_likes.size
      - else
        = link_to like_post_path(post), method: :get do
          %span.icon.icon-heart-o
          %span.size= post.get_likes.size

      %span.icon.icon-tags :
      - post.tag_list.each do |tag|
        = link_to "#{tag}", root_path(tag: tag), class: "button tag"
%div.page
  = will_paginate @posts

-if user_signed_in?
  %div.index_new_post
    = link_to "New Post", new_post_path, class: "button button_highlight"
-else
  %div.nothing
