%div.large_card
  %div.large_card_title
    %p= @post.title
    %div.user
      %span by
      %span= @post.user.email
    %div.large_card_tags
      - @post.tag_list.each do |tag|
        = link_to "#{tag}", root_path(tag: tag), class: "btn"
  %div.large_card_image
    = image_tag @post.image.url(:large)
  %div.large_card_detail
    %p= @post.description



  %div.large_card_action
    = link_to "Back", root_path, class: "btn"

    - if @post.user == current_user
      = link_to "Edit", edit_post_path(@post), class: "btn"
      = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn"

  %div.large_card_vote
    %span.banner= "Views : #{@views}"
    - if user_signed_in?
      = link_to like_post_path(@post), class: "btn", method: :get do
        = "Like : #{@post.get_likes.size}"
      = link_to dislike_post_path(@post) , class: "btn" do
        = "Dislike : #{@post.get_dislikes.size}"
    -else
      %div.banner= "Like : #{@post.get_likes.size}"
      %div.banner= "Dislike : #{@post.get_dislikes.size}"

  %div.large_card_comments
    %h3= pluralize(@post.comments.count, "Comment")

    - @comments.each do |comment|
      %div.comment
        %span.user= comment.user.email
        %span :
        %span.comment_content= comment.content

    = render "comments/comment_form"
