!!! 5
%html
  %head
    %title Impage
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %div.notice-panel
      %p.notice= notice
      %p.alert= alert

    %div.header
      = render "shared/header"

    %div.content
      = yield

    %div.footer
      = render "shared/footer"
