!!! 5
%html
  %head
    %title Impage
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %div.notice-panel
      -if notice
        %p.notice= notice
      -if alert
        %p.alert= alert

    - unless current_page?(root_path)
      %div.header
        = render "shared/header"

    %div.content
      = yield

    - unless current_page?(root_path)
      %div.footer
        = render "shared/footer"
